.card{
    display: flex;
}

.card div{
    padding: 3rem;
}

.image img{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 30px;
}

.image p{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.info{
    text-align: start;
}



.info ul li{
    display: inline-block;
}